
body {
    display: flex;
    background-image: url("../images/background.jpg");
    background-size: 100%;
    flex-direction: column;
    align-items: center;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menuBtn {
    background-color: darkcyan;
    background-image: url("../images/menu.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 1px rgb(0, 97, 97);
    position: relative;
    top: -15px;
    cursor: pointer;
}

#menuBtn:hover {
    background-color: rgb(0, 88, 88);
}

#menuBtn.clicked {
    animation: rotateBtn 0.3s linear forwards
}

@keyframes rotateBtn {
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(90deg)}
}

#menu {
    background-color:darkcyan;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    border-radius: 5px;
    z-index: 8;
}

#menu a {
    display: none;
}

#menu a.dropdown {
    animation: dropdown 0.3s linear forwards;
    display: inline-block;
}

#menu.dropdown {
    animation: dropdown 0.3s linear forwards;
    border: solid 1px rgb(0, 65, 65);
    display: inline-block;
    display: flex;
    align-items: stretch;
}

@keyframes dropdown {
    0% {opacity: 0;
        transform: translateY(-60px);}
    100% {opacity: 1;
        transform: translateY(0px);} 
}

#contenuto {
    border: solid 3px darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color:rgba(240, 255, 255, 0.404);
    border-radius: 40px;
}

h2 {
    color: darkred;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select {
    border: solid 3px darkcyan;
    width: 20%;
    height: 30px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    background-color: rgb(0, 87, 87);
}

#intro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px;
}

#entra {
    background-color: darkcyan;
    color: aliceblue;
    width: 20%;
    height: 30px;
    border: solid 2px rgb(0, 116, 116);
    border-radius: 20px;
    font-size: 110%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#entra:disabled {
    opacity: 0.3;
    pointer-events: none;
}

#entra:hover {
    background-color: rgb(0, 92, 92);
    cursor: pointer;
}

.rodaAnim {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    border: solid 1.9px black;
    margin: 50px;
    z-index: 5;
    flex-wrap: wrap;
    overflow: hidden;
    animation: rotation 20s linear infinite;
}

@keyframes rotation {
    0% {transform: rotateZ(0deg)}
    50% {transform: rotateZ(180deg)}
    100% {transform: rotateZ(360deg)}
}

.yellow {
    width: 50%;
    height: 50%;
    background-color: rgb(255, 237, 74);
    position: relative;
    z-index: 1;
}

.red {
    width: 50%;
    height: 50%;
    background-color: rgb(255, 0, 0);
    position: relative;
    z-index: 1;
}

.black {
    width: 50%;
    height: 50%;
    background-color: rgb(58, 0, 0);
    position: relative;
    z-index: 1;
}

.white {
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}


@media only screen and (min-width: 600px) {
    #contenuto {
        width: 600px;
        
    }
}

@media only screen and (min-width: 1000px) {
    #contenuto {
        width: 700px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
    }


    #menu.dropdown {
        width: 90%;
    }

    select {
        width: 90%;
    }

    #contenuto {
        border: solid 3px darkcyan;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;

    }

}