
body {
    height: 100%;
    overflow: hidden;
}

#bufalo {
    position: absolute;
    border-radius: 50%;
}

a {
    color: darkgreen;
    z-index: 999;
    bottom: 10%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menuBtn {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: rgba(240, 248, 255, 0.514);
    background-image: url(../images/rodaBt.png);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#zoomIn {
    position: absolute;
    top: 50px;
    left: 150px;
    width: 50px;
    height: 50px;
    background-color: rgba(194, 56, 31, 0.678);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    color: rgba(240, 248, 255, 0.795);
    cursor: pointer;

}

#zoomOut {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 50px;
    height: 50px;
    background-color: rgba(194, 56, 31, 0.678);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    color: rgba(240, 248, 255, 0.795);
    cursor: pointer;
}

#menuBtn.clicked {
    animation: rotateBtn 0.1s linear forwards;
}

@keyframes rotateBtn {
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(45deg)}
}

#links {
    margin-left: 25%;
    text-align: center;
    position: absolute;
    top: 25%;
    background-color: #ffffffe3;
    width: 50%;
    z-index: 999;
    padding: 1%;
    border-radius: 30px;
    visibility: hidden;
    transform: scale(0);
    transition: 100ms ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#links.dropdown {
    visibility: visible;
    transform: scale(1);
}


#goBack {
    color: rgb(0, 110, 110);
    font-size: 150%;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}


@media only screen and (min-width: 600px) {
    body {
        margin: auto;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {
 #links {
    margin-left: auto;
    width: 100%;
 }

 #menuBtn {
    width: 35px;
    height: 35px;
    top: 25px;
    left: 25px;
 }

 #zoomIn {
    width: 35px;
    height: 35px;
    top: 25px;
    left: 75px;
 }

 #zoomOut {
    width: 35px;
    height: 35px;
    top: 25px;
    left: 125px;
 }
}