

h1 {
    color: darkred;
    text-align: center;
    border: solid 5px darkred;
    margin: 30px 100px 30px 100px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    text-align: center;
    background-color: antiquewhite;;
}

img {
    margin: 15px;
    width: 70%;
    border: solid 10px darkcyan;
    border-radius: 2%;
}

#intro {
    border: solid 5px darkgoldenrod;
    border-radius: 10px;
    padding: 10 5 10 5;
    margin: 30 110 30 110;
}

a {
    color: darkgreen;
    font-weight: bold;
}

.opzioni-container {
    width: 100%;
    height: 15%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;;
}

.opzioni-item {
    color: white;
    flex-basis: 20%;
    margin: 3px;
}