h1, h2, h3 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    border: solid brown;
    padding: 5%;
    margin: 5%;
}

body {
    background-color: beige;
}

footer {
    text-align: center;
}