
h1 {
    color: darkred;
    text-align: center;
    border: solid 5px darkred;
    margin: 5% 10% 5% 10%;
    padding: 5%;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select {
    border: solid 3px darkcyan;
}
body {
    text-align: center;
    background-color: antiquewhite;;
}

#roda {
    margin: 1%;
    width: 70%;
    border: solid 10px darkcyan;
    border-radius: 2%;
}

#intro {
    border: solid 5px darkgoldenrod;
    border-radius: 10px;
    padding: 10 5 10 5;
    margin: 30 110 30 110;
}

a {
    color: darkgreen;
    font-weight: bold;
}

header {
    width: 100%;
    height: 4%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

footer {
    background-color: darkcyan;
}

#menuBut {
    position: relative;
    width: 3%;
    top: 1.3%;
    left: 1.5%;
    cursor: pointer;
    margin: 2px;
}

#menu {
    display: flex;
    position: relative;
    background-color: rgb(0, 140, 140);
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    gap: 5px;
    padding: 10px;
    top: -650%;
}

.menuVisible {
    animation: menu 0.4s linear 1;
    animation-fill-mode: forwards;
}

.opzioni-item {
    text-align: left;
    color: white;
    background-color: darkcyan
}

@keyframes menu {
    0% {transform: translateY(0%)}
    100% {transform: translateY(134%)}
}

@media only screen and (min-width: 600px) {
    body {
        width: 600px;
        margin: auto;
        border: solid 3px darkcyan;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        width: 1000px;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    #intro {
        margin: auto;
    }

    #roda {
        margin: auto;
        width: 95%;
    }

    h1 {
        margin: auto;
    }

}